.apartment-buttons {
    margin: 0 10% 50px 10%;
}
.button-middle {
    margin-right: 5%;
    margin-left: 5%;
}
.apartment-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    margin-left: 10%;
}
.amenity-section {
    display: flex;
    padding-bottom: 25px;
}
// .amenity-left {
//     margin-left: 10%;
// }
.amenity-right {
    margin-left: 30%;
}
.amenity-icon {
    width: 25px;
    display: inline-block;
    margin-right: 8px;
}

.detail-section {
    margin-left: 10%;
}

.detail-item {
    display: flex;
    justify-content: space-between;
}

.detail-text {
    width: 50%;
    font-size: 18px;
}
.detail-text-bold {
    font-weight: 800;
}
