@use 'variables' as var;
h1 {
    margin-left: 5%;
    font-family: 'CostarBrownRegular', sans-serif;
    color: var.$navy;
}
.homepageText {
    font-family: 'CostarBrownLight', sans-serif;
    font-size: 28px;
    margin-left: 5%;
    margin-right: 5%;
    color: var.$navy;
}

.homepage {
    margin-bottom: 200px;
}
