@use 'variables' as var;
.contact {
    margin-bottom: 100px;
}
.teamContainer {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 1000px) {
        grid-template-columns: none;
    }
}
.team {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    @media (max-width: 1000px) {
        border-bottom: 2px solid var.$gold;
        padding-bottom: 2vh;
        margin-bottom: 5vh;
    }
}

form {
    max-width: 70%;
    margin: 0 auto;
}

.formBunch {
    display: flex;
    width: 100%;
}

textarea,
select,
input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var.$light-grey;
    padding: 10px 15px;
    margin: 10px;
    margin-bottom: 15px;
    font-size: 14px;
}

.message {
    height: 100px;
}

input[type='submit'],
.button {
    position: relative;
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    margin-top: 20px;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    display: block;
    appearance: none;
    border-radius: 4px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 0.5rem;
    transition: 0.3s all;
    cursor: pointer;
}
