h1 {
    margin-left: 5%;
    font-family: 'CostarBrownRegular', sans-serif;
}

.homepage-text {
    font-family: 'CostarBrownLight', sans-serif;
    font-size: 28px;
    margin-left: 5%;
    margin-right: 5%;
}

.homepage {
    margin-bottom: 200px;
}
